In [37]:
import pandas as pd
import numpy as np
from math import sqrt
import scipy.stats as st
from scipy.stats import t
from scipy.stats import norm

In [38]:
titan_data = pd.read_csv("D:/D_DATA/CODE/Python/Statistical Learning_R2_Project2_Titan Insurance case study/Titan_Insurance_data.csv")

print(titan_data.head(4))
print(titan_data.dtypes)
print(titan_data.shape)
print(titan_data.describe())

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
SALESPERSON                  int64
Old Scheme (in thousands)    int64
New Scheme (in thousands)    int64
dtype: object
(30, 3)
       SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
count    30.000000                  30.000000                  30.000000
mean     15.500000                  68.033333                  72.033333
std       8.803408                  20.455980                  24.062395
min       1.000000                  28.000000                  32.000000
25%       8.250000                  54.000000                  55.000000
50%      15.500000                  67.000000                  74.000000
75%      22.750000                  81.500000                  85.750000
max      30.000000                 110.000000                 122.000000

In [39]:

print(titan_data.columns)
titan_data["Old Scheme"] = titan_data["Old Scheme (in thousands)"] * 1000
titan_data["New Scheme"] = titan_data["New Scheme (in thousands)"] * 1000
print(titan_data.head(4))

#Question1: Find the mean of old scheme and new scheme column. 
print(titan_data["Old Scheme"].mean())
print(titan_data["New Scheme"].mean())

Index(['SALESPERSON', 'Old Scheme (in thousands)',
       'New Scheme (in thousands)'],
      dtype='object')
   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)  \
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82

   Old Scheme  New Scheme
0       57000       62000
1      103000      122000
2       59000       54000
3       75000       82000
68033.33333333333
72033.33333333333

In [40]:
#Question2: Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs
st.ttest_rel(titan_data["New Scheme"], titan_data["Old Scheme"])
#Answer: pvalue=0.13057553961337662

Ttest_relResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

In [41]:
#Question3: What conclusion does the test (p-value) lead to
#Answer: Null hypothesis is accepted since p value is greater than 0.05. Good sales improvement seen in new scheme

In [42]:
#Question4: Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the 
#scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

In [43]:
#Q4a: The probability of a type 1 error? 
#Answer: Probability of Type I error will be 0.05

In [44]:
#Q4b: What is the p- value of the hypothesis test if we test for a difference of $5000? 
titan_data["CompareSales"] = titan_data["New Scheme"] - titan_data["Old Scheme"]
print(titan_data.head())
comparesales_mean = titan_data["CompareSales"].mean()
print(comparesales_mean)
comparesales_std = titan_data["CompareSales"].std()
print(comparesales_std)
comparesales_se = comparesales_std/sqrt(30) # sample size is 30
print(comparesales_se)
tstat = (comparesales_mean - 5000)/comparesales_se
print(tstat)
p_value = 1- st.t.cdf(tstat, df=29) 
#Answer for Q4b: 0.64993
print(p_value)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)  \
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

   Old Scheme  New Scheme  CompareSales
0       57000       62000          5000
1      103000      122000         19000
2       59000       54000         -5000
3       75000       82000          7000
4       84000       84000             0
4000.0
14081.046199376151
2570.8355455569017
-0.38897859558860937
0.6499332543693357

In [45]:
#Q4c: Power of the test (5 points)
#Answer: P value = 0.64993 ( degree of freedom is 29 )
# finding t critical value using student t test
# define probability
p = 0.6499
df = 29
# retrieve value <= probability
value = t.ppf(p, df)
print(value)
t_value = t.cdf(value, df)
print(t_value)
# finding t critical value using Gaussian 
# define probability
p = 0.6499
# retrieve value <= probability
value = norm.ppf(p)
print(value)
# confirm with cdf
t_value = norm.cdf(value)
print(t_value)
t_critical = t.ppf(1-0.05, 29)
print(t_critical)
#finding xbar value
mu0 = 0
xbar = mu0 + t_critical * comparesales_se
print(xbar)
t_stat = ( xbar - 5000 ) / comparesales_se
print(t_stat)
print(st.t.cdf(t_stat, df=29) )
#Answer for Q4c 0.403797

0.3888876925908805
0.6498999996651291
0.38505050131866764
0.6499
1.6991270265334972
4368.176156228719
-0.2457659514095497
0.40379725247943166